body {
    overflow:scroll;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: white;
}

#content{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}



#main{
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
}

#background{
    position: relative; 
    top: 0; 
    left: 0; 
    height: auto;
    width: 100%;
}

#menu{
    position: absolute;
    top: 3px; 
    left: 3px; 
    height: 54px;
    width: 180px;
    z-index: 10;
   
    border-radius: 27px;
}

#hovedbilde{
    width: 100%;
    height: auto;
    background: url(img\msnorge_front1920.png)

}

.logo{
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 2px;
}


#fb{
    width: 40px;
    height: 40px;
    
    background:transparent url(img\fb_icon2.png) center top no-repeat;
}

#fb:hover{
    
    background-image: url(img\fb_hover.png);
}

#block_items{
    width: 99%;
    height: 332px;
    z-index: 12;
    margin-left: auto;
    margin-right: auto;
}

.block{
    float: left;
    width: 24vw;
    height: 16vw;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    
}

#video{
    width:inherit;
    height:inherit;
}

#foredrag{
    
    width:inherit;
    height:inherit;
}

#motivate{
    width:inherit;
    height:inherit;
}

#nature{
    width:inherit;
    height:inherit;
}

