body {
    overflow:scroll;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    background-color: white;
}

#content{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}



#main{
    position: relative;
    top: 0;
    left: 0;
    height: auto;
    width: auto;
}

#background{
    position: relative; 
    top: 0; 
    left: 0; 
    height: auto;
    width: 100%;
}

#menu{
    position: fixed;
    top: 0px; 
    left: 3px; 
    height: 100px;
    width: 100%;
    z-index: 10;
    
    

}

#header{
    position: fixed;
    top: 0px; 
    left: 3px; 
    height: 95px;
    width: 100%;
    z-index: 10;
    background-color: #fff;
}

#hovedbilde{
    width: 100%;
    height: auto;
    background: url(img\msnorge_front1920.png)

}

.logo{
    width: 80px;
    height: 80px;
    margin-left: 5px;
    margin-top: 10px;
}


#fb{
    width: 80px;
    height: 80px;
    
    background:transparent url(img\fb_icon2.png) center top no-repeat;
}

#fb:hover{
    
    
}

#block_items{
    width: 94%;
    height: 332px;
    z-index: 12;
    margin-left: auto;
    margin-right: auto;
}

.block{
    float: left;
    width: 44vw;
    height: 30vw;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    
}

#blogg{
    width:inherit;
    height:inherit;
}

#foredrag{
    
    width:inherit;
    height:inherit;
}

#motivate{
    width:inherit;
    height:inherit;
}

#nature{
    width:inherit;
    height:inherit;
}
a{
    font-style: normal;
}

